body.gonggao, body.biaoqian, body.biji {
  background-color: #f3f3f3;
  font-family: 'microsoft yahei' arial;
}
.gonggao header {
  background-color: #ebebeb;
  font-size: 1.0625rem;
  color: #444;
  text-indent: .9375rem;
  height: 2.4375rem;
  line-height: 2.4375rem;
  border-bottom: 1px solid #d7d7d7;
}
.gonggao nav li {
  width: 25%;
  height: 2.3125rem;
  line-height: 2.3125rem;
  background-color: #ebebeb;
  float: left;
  border-bottom: 3px solid #ebebeb;
  color: #444;
  font-size: .9275rem;
  text-align: center;
}
.gonggao nav li.current {
  border-color: #37be9d;
  color: #37be9d;
}
.gonggao nav li i.new {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
  line-height: 0.75rem;
  text-align: center;
  color: #fff;
  background-color: #f64642;
  position: absolute;
  right: -0.75rem;
  top: -0.375rem;
  font-size: 0.625rem;
}
.gonggao .gonggao-tab {
  text-align: center;
  height: 2.4375rem;
}
.gonggao .gonggao-tab-box {
  display: inline-block;
  width: 51.4%;
  margin: .4375rem 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
}
.gonggao .gonggao-tab-box span {
  display: block;
  float: left;
  width: 50%;
  height: 1.5625rem;
  line-height: 1.5625rem;
  font-size: .875rem;
  color: #444;
  background-color: #fff;
}
.gonggao .gonggao-tab-box span.current {
  background-color: #37be9d;
  color: #fff;
}
.gonggao .gonggao-title {
  height: 4.6875rem;
  line-height: 4.6875rem;
  background-color: #fff;
  font-size: .9275rem;
  color: #444;
  text-align: center;
}
.gonggao .gonggao-title strong {
  color: #37be9d;
  font-size: 1.5625rem;
  font-weight: 200;
}

.gonggao .gonggao-list ul li{
  background: #fff;
  margin-top: 0.625rem;
}

.gonggao .gonggao-list ul li .gonggao-list-wrapper{
  padding: 1.25rem 1.25rem 0;
}
.gonggao .head {
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 2.125rem;
}

.gonggao .head_title {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
  background-color: rgba(225,225,225,0.5);
  color: #444;
  font-size: 0.625rem;
  line-height: 0.75rem;
  position: absolute;
  bottom: 0;
  right: 0.725rem;
}
.gonggao .gonggao-message h3{
  color: #37be9d;
  font-size: 0.875rem;
}

.gonggao-button button{
  width: 50%;
  color: #999;
  font-size: 0.75rem;
  text-align: center;
  border: 0px;
  float: left;
  height: 2.2rem;
  line-height: 2.2rem;
  background: #fff;
  border-top: 1px solid #999 
}

.gonggao-button button.confirm{
  color: #fff;
  background-color: #37be9d;
}

.gonggao-button button.confirm i{
  width: 0.375rem;
  height: 0.375rem;
  position: absolute;
  top: 0;
  right: -0.375rem;
  background-color: #f64642;
  border-radius: 0.375rem;
}



/*biaoqian*/
.biaoqian .biaoqian_title{
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  border-bottom: 1px solid #999;
}
.biaoqian .biaoqian_title i{
  background: url('../img/icon.png') no-repeat 0 0;
  background-size: 1.825rem 6.25rem;
  display: block;
  float: left;
  margin-top: 0.875rem;
  margin-left: 5px;
  width:1.5rem;
  height: 1rem;
}

.biaoqian .biaoqian_title button{
  float: right;
  padding: 0.53rem 0.75rem;
  color: #fff;
  background-color: #37be9d;
  border-radius: 5px;
  border: 0px;
  margin-top: 0.3125rem;
  font-size: 0.875rem;
}

.biaoqian .biaoqian_textarea textarea {
  border: 0px;
  width: 100%;
  padding: 0.625rem;
  box-sizing: border-box;
}


.biaoqian .biaoqian_textarea .biaoqian_types{
  overflow:  hidden;
  background: #37be9d;
}

.biaoqian .biaoqian_textarea .biaoqian_types ul li{
  float: left;
  padding: 0 0.625rem;
  height: 2.5rem;
  color: #fff;
  line-height: 2.5rem;
  text-align: center;
  margin-left: 0.625rem;
  font-size: 0.9375rem;
}

.biaoqian .biaoqian_labels ul li {
  float: left;
  margin-left: 0.625rem;
}

.biaoqian .biaoqian_labels ul li div.labels_outer{
  margin: 0.625rem 0;
  border-radius: 1rem;
  padding: 0.625rem 1.625rem;
  color: #444;
  text-align: center;;
  background-color: #e8efed;
  font-size: 0.875rem;
}

/*notes*/
.note_number{
  height: 2.625rem;
  line-height: 2.625rem;
  text-align: center;
  color:#fff;
  font-size: 0.825rem;
  background-color: #95d8c8; 
}

.biaoqian_note .note_content span{
  color: #999;
  font-size: 0.75rem;
}

.biaoqian_note .note_content div{
  color: #222;
  font-size: 0.75rem;
  padding: 0.625rem;
  background-color: #e8efed
}